body {
    background-color: rgb(127, 194, 199);
    font-family: "Poppins", Helvetica, sans-serif;
}

.profilePicture {
    width: 534px;
    height: 751.44px;
    border-radius: 15px;
    padding: 0 8px;

}

.container {
    display: flex;
    flex-direction: column;
    width: 550px;
    margin: 0 auto;
    background-color: azure;
    position: relative;

}

.headerContainer {
    height: 81px;
    display: flex;
    justify-content: space-between;
}

.pawIcon {
    width: 84px;
    height: 42px;
    padding: 20px 0;
}

.headerIcon {
    width: 41.21px;
    height: 41.21px;
    padding: 24px 19px;
}

h2 {
    color: #F8F8F8;
    margin: 0;
}

h3 {
    margin: 0;
    color: #B7B7B7;
}

.discription {
    position: absolute;
    left: 20.34px;
    top: 745px;
}


/* buttons */
.crossBtn,
.likeBtn {
    margin:25px;
    cursor: pointer;
    width: 91.87px;
    height: 91.87px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #E9E9EA;
    border: none;
    border-radius: 50%;
}
.likeBtn:hover{
    background: #DBFFF4;
    box-shadow: 0px 10px 20px #CCF1E6;
}
.crossBtn:hover{
    background: #FFE7EF;
    box-shadow: 0px 10px 20px #EDD9DF;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* stamps */
.likeStamp{
    position: absolute;
    width: 172.32px;
    height: 89.97px;
    left: 25px;
    top: 50px;
    font-weight: 600;
    font-size: 84.8341px;
    line-height: 95px;
    transform: rotate(-30deg);
    background: linear-gradient(to left, #29D78A , #6EF2F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    box-sizing: border-box;
    border-radius: 10px;
    width: 233.91px;
    height: 116.26px;
    border: solid #29D78A  8.3px;
    padding-left: 25px;
}
.passStamp{
    position: absolute;
    width: 172.32px;
    height: 89.97px;
    left: 25px;
    top: 65px;
    font-weight: 600;
    font-size: 72px;
    line-height: 81.3px;
    transform: rotate(-30deg);
    background: linear-gradient(to left, #F9655C,#F83574);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    box-sizing: border-box;
    border-radius: 10px;
    width: 233.91px;
    height: 116.26px;
    border: solid #F9655C  8.3px;
    padding-left: 12px;
    padding-top: 10px;
}